html,
body {
	margin: 0;
	padding: 0;
	font-size: 10px;
}

body {
	background: -webkit-linear-gradient(left bottom, #000, #AAA);
	background: linear-gradient(to right top, #000, #AAA);
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.wrapper {
	position: relative;
	width: 90rem;
	height: 50.6rem;
	overflow: hidden;
	border: 1rem solid #EEE;
	background: #FFF;
	box-sizing: border-box;
	box-shadow: 0 0 2.5rem .1rem #000;
}

.img-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	left: 0;
	-webkit-transition: left .3s linear;
	transition: left .3s linear;
}

.arrow {
	position: absolute;
	color: #FFF;
	height: 100%;
	width: 13rem;
	opacity: .3;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	cursor: pointer;
}

.bullet-box {
	position: absolute;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	left: 50%;
	bottom: 1.2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.bullet {
	border-radius: 50%;
	width: 1.3rem;
	height: 1.3rem;
	margin: 0 .6rem;
	background: #FFF;
	opacity: .4;
	-webkit-transition: opacity .2s linear;
	transition: opacity .2s linear;
	cursor: pointer;
}

.active,
.bullet:hover,
.arrow:hover {
	opacity: 1;
}

div#left.arrow {
	background: url('../img/left.png') no-repeat center,
				-webkit-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
	background: url('../img/left.png') no-repeat center,
				linear-gradient(90deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
	left: 0;
}

div#right.arrow {
	background: url('../img/right.png') no-repeat center,
				-webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
	background: url('../img/right.png') no-repeat center,
				linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
	right: 0;
}